<!doctype html>
<html lang="en">

    
<!-- Mirrored from Contract compliance and Payment management system.com/skote/layouts/horizontal/pages-comingsoon.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 22 Jan 2020 18:08:55 GMT -->
<head>
        <meta charset="utf-8" />
        <title>Success Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Contract compliance and Payment management system" name="description" />
        <meta content="Contract compliance and Payment management system" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="/assets/images/favicon.ico">

        <!-- Bootstrap Css -->
        <link href="/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body>
        <div class="home-btn d-none d-sm-block">
            <a href="index.html" class="text-white"><i class="fas fa-home h2"></i></a>
        </div>

        <div class="my-5 pt-sm-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <a href="/">
                               <h2>Contract Compliance and Management System</h2>
                            </a>
                            <div class="row justify-content-center mt-5">
                                <div class="col-sm-4">
                                    <div class="maintenance-img">
                                        <img src="/assets/images/maintenance.png" alt="" class="img-fluid mx-auto d-block">
                                    </div>
                                </div>
                            </div>
                            <h4 class="mt-5">{{message.successMessage}}</h4>
                            <p class="text-muted">{{message.successDescription}}</p>
<a href="/"><button type="button" class="btn btn-primary btn-lg btn-block waves-effect waves-light mb-1">Proceed To Dashboard</button></a>

                            <!-- end row-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- JAVASCRIPT -->
        <script src="/assets/libs/jquery/jquery.min.js"></script>
        <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="/assets/libs/simplebar/simplebar.min.js"></script>
        <script src="/assets/libs/node-waves/waves.min.js"></script>

        <!-- Plugins js-->
        <script src="/assets/libs/jquery-countdown/jquery.countdown.min.js"></script>

        <!-- Countdown js -->
        <script src="/assets/js/pages/coming-soon.init.js"></script>

        <script src="/assets/js/app.js"></script>

    </body>

<!-- Mirrored from Contract compliance and Payment management system.com/skote/layouts/horizontal/pages-comingsoon.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 22 Jan 2020 18:08:56 GMT -->
</html>
