<div class="col-12">

    <!-- Card -->
    <div class="dt-card">

        <!-- Card Header -->
        <div class="dt-card__header">

            <!-- Card Heading -->
            <div class="dt-card__heading">
                <h3 class="dt-card__title">Departments Information</h3>
            </div>
            <!-- /card heading -->

        </div>
        <!-- /card header -->

        <!-- Card Body -->
        <div class="dt-card__body">

            <!-- Form -->
             <form action="/create_department" method="POST" enctype="multipart/form-data" >
          

                <!-- Form Row -->
                <div class="form-row">
                    <label class="col-md-2 col-sm-3 col-form-label text-sm-right"
                            for="normal-input-1">Department Name</label>

                    <div class="col-md-10 col-sm-9">
                        <input type="text" name="name" class="form-control" id="normal-input-1"
                                placeholder="Enter Department Name">
                    </div>

                     
                </div>
                 <!-- Separator -->
                <hr class="border-dashed my-8">
                <!-- /separator -->
                <!-- /form row -->
                <div class="form-row">
                    <label class="col-md-2 col-sm-3 col-form-label text-sm-right"
                            for="normal-input-1">DB reference Name</label>

                    <div class="col-md-10 col-sm-9">
                        <input type="text" name="ref_name" class="form-control" id="normal-input-1"
                                placeholder="Unique reference Name">
                    </div>

                     
                </div>

                

                
                <!-- Separator -->
                <hr class="border-dashed my-8">
                <!-- /separator -->


                <!-- Form Row -->
                <div class="form-row">
                    <label class="col-md-2 col-sm-3 col-form-label text-sm-right"
                            for="text-area-1">Department Descriptions</label>

                    <div class="col-md-10 col-sm-9">
                        <textarea class="form-control" name="description" id="text-area-1" rows="3"
                                    placeholder="Textarea"></textarea>
                    </div>
                </div>
                <!-- /form row -->

                
                    <!-- Separator -->
                <hr class="border-dashed my-8">
                <!-- /separator -->


                <!-- Form Row -->
                <div class="form-row">
                    <label class="col-md-2 col-sm-3 col-form-label text-sm-right"
                            for="file-field">Logo/Image</label>

                    <div class="col-md-10 col-sm-9">
                        <div class="custom-file">
                            <input type="file" name="logo" class="custom-file-input" id="file-field">
                            <label class="custom-file-label" for="file-field">Choose
                                file...</label>
                        </div>
                    </div>
                     
                </div>
                <!-- /form row -->
                <div class="row" style="padding-top:50px">
                    <div class="col-md-4 col-sm-4"></div>
                        <div class="col-md-6 col-sm-6">
                    <button type="submit" class="btn btn-primary btn-block">Create Department</button>
                        </div>
                </div>
            <form>
            <!-- /form -->

        </div>
        <!-- /card body -->

    </div>
    <!-- /card -->

</div>