
<!-- Grid Item -->
<div class="col-12">

    <!-- Card -->
    <div class="dt-card">

        <!-- Card Header -->
        <div class="dt-card__header">

            <!-- Card Heading -->
            <div class="dt-card__heading">
                <h3 class="dt-card__title">Register User</h3>
            </div>
            <!-- /card heading -->

        </div>
        <!-- /card header -->

        <!-- Card Body -->
        <div class="dt-card__body">

            <!-- Form -->
              <form action="/create_user" method="POST" enctype="multipart/form-data" >
         
                <div class="form-row">
                    <div class="col-sm-4 mb-3">
                        <label for="validationDefault01">First name</label>
                        <input type="text" name="firstName" class="form-control" id="validationDefault01"
                                placeholder="First name"
                               
                                required>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <label for="validationDefault02">Last name</label>
                        <input type="text" name="lastName" class="form-control" id="validationDefault02"
                                placeholder="Last name"
                                
                                required>
                    </div>
                 
                    <div class="col-sm-4 mb-3">
                        <label for="validationDefaultUsername">Email</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend2">@</span>
                            </div>
                            <input type="email" class="form-control"
                                    id="validationDefaultUsername" name="email" placeholder="Email Address"
                                    aria-describedby="inputGroupPrepend2" required>
                        </div>
                    </div>
                </div>
                 
                <div class="form-row">
                    <div class="col-sm-6 mb-3">
                        <label for="validationDefault03">Phone Number</label>
                        <input type="number" name="phoneNumber" class="form-control" id="validationDefault03"
                                placeholder="Phone number">
                    </div>
                     <div class="col-sm-3 mb-3">
                        <label for="validationDefault012">Staff Number</label>
                        <input type="number" name="staff_number" class="form-control" id="validationDefault012"
                                placeholder="Staff Number" required>
                    </div>
                    <div class="col-sm-3 mb-3">
                        <label for="validationDefault04">Password</label>
                        <input type="text" name="passcode" class="form-control" id="validationDefault04"
                                placeholder="Password" required>
                    </div>

                    
                     <div class="col-sm-3 mb-3">
                             <label for="validationDefault04">Designation</label>

                           
                                <select class="form-control" name="position" id="simple-select">
                                    <option>Registrar/CE</option>
                                    <option>Director</option>
                                    <option>Ag. Director</option>
                                    <option>Deputy Director</option>
                                    <option>Assistant Director</option>
                                    <option>Chief Admin Officer</option>
                                    <option>Chief Accountant</option>
                                    <option>Chief Technical. Officer</option>
                                    <option>Chief Planning Officer</option>
                                    <option>Chief Confidential Secretary</option>
                                    <option>Chief Education Officer</option>
                                    <option>Chief Executive Officer (Accts)</option>
                                    <option>Chief Information Officer</option>
                                    <option>Assistant Chief Confidential Secretary</option>
                                    <option>Assistant Chief Legal Officer</option>
                                    <option>Assistant Chief Executive Officer(Admin.)</option>
                                    <option>Assistant Chief Education Officer</option>
                                    <option>Assistant Chief Programme Analyst</option>
                                    <option>Assistant Chief Legal Officer</option>
                                    <option>Assistant Chief Admin Officer</option>
                                    <option>Assistant Chief Librarian </option>
                                    <option>Assistant Chief Planning Officer</option>
                                    <option>Assistant Chief Executive Officer</option>
                                    <option>Assistant Chief Executive Officer (Admin)</option>
                                    <option>Assistant Chief Works Superintendent</option>
                                    <option>Assistant Chief Estate Officer </option>
                                    <option>Assistant Chief Executive Officer I (Infor)</option>
                                    <option>Assistant Chief Acountant 
                                    <option>Assistant Chief Executive Officer  (Admin)</option>
                                    <option>Assistant Chief Information Officer</option>
                                    <option>Assistant Chief Computer Engineer</option>
                                    <option>Principal Planning Officer</option>
                                    <option>Principal Legal Officer</option>
                                    <option>Principal Admin Officer</option>
                                    <option>Principal Statistical Officer</option>
                                    <option>Principal Accountant</option>
                                    <option>Principal Confidential Secretary I</option>
                                    <option>Principal Procurement Officer II</option>
                                    <option>Principal Statistician</option>
                                    <option>Principal Legal Officer</option>
                                    <option>Principal Executive Officer I</option>
                                    <option>Principal Executive Officer (Admin)</option>
                                    <option>Principal Conf. Secretary I</option>
                                    <option>Assistant Chief Statistical Officer </option>
                                    <option>Principal Executive Officer (Admin)</option>
                                    <option>Principal Assistant Education Officer </option>
                                    <option>Principal Executive Officer I (Admin)</option>
                                    <option>Principal Technical Officer  I(Building)</option>
                                    <option>Principal Admin. Officer</option>
                                    <option>Principal Information Officer</option>
                                    <option>Principal Conf. Secretary</option>
                                    <option>Principal Technical Officer II</option>
                                    <option>Principal Exec. Officer (Accts)</option>
                                    <option>Principal Exec. Officer I (Admin.)</option>
                                    <option>Principal Education Officer</option>
                                    <option>Senior Executive Officer (Education)</option>
                                    <option>Senior Administrative Officer</option>
                                    <option>Senior Planning Officer</option>
                                    <option>Senior Education Officer</option>
                                    <option>Senior Procurement Officer</option>
                                    <option>Senior Accountant</option>
                                    <option>PEO II (Accts)</option>
                                    <option>Principal Executive Officer II (Admin)</option> 
                                    <option>Principal Executive Officer (Admin) </option>
                                    <option>Principal Executive Officer II (Acct)</option>
                                    <option>Principal Executive Officer </option>
                                    <option>Principal Works Superintendent</option>
                                    <option>Principal Tech. Officer II</option>
                                    <option>Senior Legal Officer I</option>
                                    <option>Chief Secretarial Assistant </option>
                                    <option>Senior Exec, Officer (Accts)</option>
                                    <option>Senior Data Proc. Officer </option>
                                    <option>Librarian I</option>
                                    <option>Programme Analyst I</option>
                                    <option>Education Oficer I</option>
                                    <option>Planning Officer</option>
                                    <option>Senior Assistant Education Officer</option>
                                    <option>Senior Executive Officer (Acct)</option>
                                    <option>Education officer I</option>
                                    <option>Administrative Officer I</option>
                                    <option>Senior Work Superitendent </option>
                                    <option>Legal Officer I</option>
                                    <option>Accountant I</option>
                                    <option>Admin Officer I</option>
                                    <option>Senior Confidential Secretary I</option>
                                    <option>Information Officer I</option>
                                    <option>Senior Executive Officer (Admin)</option>
                                    <option>Planning Officer I</option>
                                    <option>Education Officer I</option>
                                    <option>Senior Executive Officer (Acct)</option>
                                    <option>Senior Assistant Education Officer</option>
                                    <option>Senior Coperative Officer</option>
                                    <option>Education Officer II</option>
                                    <option>Chief Secretarial Assistant </option>
                                    <option>Higher Assistant Education Officer</option>
                                    <option>Higher Executive Officer (Admin)</option>
                                    <option>Administrtaive Officer II </option>
                                    <option>Programme Analyst II</option>
                                    <option>Higher Executive Officer</option>
                                    <option>Administrative Officer II</option>
                                    <option>Executive Officer (Accts)</option>
                                    <option>Admin Officer II</option>
                                    <option>Executive Officer (Admin)</option>
                                    <option>Planning Officer II</option>
                                    <option>Information Officer II</option>
                                    <option>Accountant II</option>
                                    <option>Statistician II</option>
                                    <option>Building Officer II</option>
                                    <option>Higher Executive Officer (Planning)</option>
                                    <option>Executive Officer (Admin)</option>
                                    <option>Education Officer II</option>
                                    <option>Higher Works Suprintendent</option>
                                    <option>Confidential Secretary I</option>
                                    <option>Education Officver II</option>
                                    <option>Data Processing Officer</option>
                                    <option>Chief Data Processing Assistant</option>
                                    <option>Program Analyst II</option>
                                    <option>Higher Executive Officer (Admin)</option>
                                    <option>Chief Clerical Officer(Admin)</option>
                                    <option>Chief Driver/Mech.</option>
                                    <option>Chief Data Processing Assist. Officer</option>
                                    <option>Chief Motor Driver/Mech.</option>
                                    <option>Senior Motor Driver/ Mechanic</option>
                                    <option>Executive Officer (Admin)</option>
                                    <option>Assistant Executive Officer</option>
                                    <option>Assistant Education Officer (Admin)</option>
                                    <option>Senior Clerical Officer</option>
                                    <option>Clerical Officer I</option>
                                    <option>Senior Motor Driver/Mechanic</option>
                                    <option>Senior Motor Driver/Mechanic II</option>
                                    <option>Motor Driver Mechanic</option>
                                    <option>Driver Mechanic</option>
                                </select>
          
                        </div>
                        <div class="col-sm-3 mb-3">
                            <label for="simple-select">Department</label>

                           
                                <select class="form-control" name="department" id="simple-select">
                                    {{#each data.department}}
                                    <option value="{{this._id}}">{{this.name}}</option>
                                  
                                    {{/each}}
                                </select>
          
                        </div>
                       
                </div>
               
               
                 <div class="row" style="padding-top:50px">
                    <div class="col-md-3 col-sm-3"></div>
                        <div class="col-md-6 col-sm-6">
                    <button type="submit" class="btn btn-primary btn-block">Create User</button>
                        </div>
                </div>
            </form>
            <!-- /form -->

        </div>
        <!-- /card body -->

    </div>
    <!-- /card -->

</div>
